#snackbar {
  visibility: hidden;
  min-height: 15rem;
  max-height: calc(100% - 5rem);
  height: 28rem;
  overflow: hidden;
}

#snackbar.show {
  visibility: visible;
}

#uploadthumbnail {
  visibility: hidden;
}

#snackbar.header {
  box-shadow: inset 0 -1px 0 0 #3373CC;
  background-color: #4C97FF;
}
